body{
    background-color: rgb(7, 7, 7);
}
h1{
    font-family: 'Galada', cursive;
    color: rebeccapurple;
    text-align: center;
    margin-top: 30px;
    background-color: blanchedalmond;
}
.sobuj-text{
    color: green;
}
.lal-text{
    color: red;
}
/* area {    margin: 100px;
} */
h4{
    font-family: 'Galada', cursive;
    color:black;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(152, 135, 167);
}
.buy{
    background-image: linear-gradient(180deg, black,red

    );
    border-radius: 5px;
    color: azure;
}
.container{
    margin-bottom: 100px;
}
.area{
    margin-top: 100px;
}
.buy-now-button{
    background-image:linear-gradient(to bottom, #FF589B 0%,#FF136F 100%);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
footer{
    text-align: center;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
h3{
    font-family: 'Hind Siliguri', sans-serif;
}